<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <title>404</title>
</head>
<body>
<main class ="container">
  <article>
    <h3><blockquote>
      "You're lost soldier, get back to your duties!"
    </blockquote></h3>
    <!--Make the Error code a struct attribute-->
    <h6><kbd><strong>Error 404</strong></kbd></h6>
  </article>
  <a href = "/login"><button class = "secondary outline">Back to Safety!</button></a>
</main>
</body>
</html>
