<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <title>Student Events</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.1.1/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.1.1/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.7/dist/cdn/material-dynamic-colors.min.js"></script>
</head>
<body>
<p>test</p>
{{template "navbar" .}}
<main class="responsive max">
    {{range $index, $val := .}}
        <div id="{{.EventName}}" name="{{.EventName}}">
            <div class="large-padding responsive" id="EventImage"
                  style="background-image:url(https://imgs.search.brave.com/t7Yvrb1hUdpgBGo5uFgr5D00fh3-MYTaJCYpsVW1vQk/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/Z2FubmV0dC1jZG4u/Y29tL3ByZXN0by8y/MDIwLzEwLzE4L05M/RUQvYWM5N2VlMTAt/YjhhMy00YTdjLWI1/OWYtNzkxZWRjYjZk/YWE3LUFQMjAyOTI2/NDY0MzQ5MjQuanBn/P2Nyb3A9NTEyMywy/ODgyLHgwLHkyNjAm/d2lkdGg9MzIwMCZo/ZWlnaHQ9MTgwMSZm/b3JtYXQ9cGpwZyZh/dXRvPXdlYnA);">
                <header class="blur">
                    <nav>
                        <h5 class="max">{{.EventName}}</h5>
                    </nav>
                </header>
                <article class="large-blur">
                    <div class="grid">
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="Points"
                                         style="background-color: transparent;box-shadow: none;">{{.Points}}</article>

                                <label class="active">Points</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="EventDescription"
                                         style="background-color: transparent;box-shadow: none;">{{.EventDescription}}</article>
                                <label class="active">Event Description</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="EventDate"
                                         style="background-color: transparent;box-shadow: none;">{{.EventDate}}</article>

                                <label class="active">Date</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="RoomNumber"
                                         style="background-color: transparent;box-shadow: none;">{{.RoomNumber}}</article>
                                <label class="active">Room Number</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="AdvisorNames"
                                         style="background-color: transparent;box-shadow: none;">{{.AdvisorNames}}</article>
                                <label class="active">Advisor Name(s)</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="Location"
                                         style="background-color: transparent;box-shadow: none;">{{.Location}}</article>
                                <label class="active">Location</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="LocationDescription"
                                         style="background-color: transparent;box-shadow: none;">{{.LocationDescription}}</article>

                                <label class="active">Location Description</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="Sport"
                                         style="background-color: transparent;box-shadow: none;">{{.Sport}}</article>
                                <label class="active">Sport Name</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="SportDescription" name="SportDescription"
                                         style="background-color: transparent;box-shadow: none;">{{.SportDescription}}</article>
                                <label class="active">Sport Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="space"></div>
                    <nav class="left-align">
                        <button type="remove" class="blur">Drop Out</button>
                    </nav>
                </article>
            </div>
        </div>
    {{end}}
    <h1>Sign Up For These</h1>
    {{range $index, $val := .}}
        <div id="{{.EventName}}" name="{{.EventName}}">
            <div class="large-padding responsive" id="EventImage"
                 style="background-image:url(https://imgs.search.brave.com/t7Yvrb1hUdpgBGo5uFgr5D00fh3-MYTaJCYpsVW1vQk/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/Z2FubmV0dC1jZG4u/Y29tL3ByZXN0by8y/MDIwLzEwLzE4L05M/RUQvYWM5N2VlMTAt/YjhhMy00YTdjLWI1/OWYtNzkxZWRjYjZk/YWE3LUFQMjAyOTI2/NDY0MzQ5MjQuanBn/P2Nyb3A9NTEyMywy/ODgyLHgwLHkyNjAm/d2lkdGg9MzIwMCZo/ZWlnaHQ9MTgwMSZm/b3JtYXQ9cGpwZyZh/dXRvPXdlYnA);">
                <header class="blur">
                    <nav>
                        <h5 class="max">{{.EventName}}</h5>
                    </nav>
                </header>
                <article class="large-blur">
                    <div class="grid">
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="Points"
                                         style="background-color: transparent;box-shadow: none;">{{.Points}}</article>

                                <label class="active">Points</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="EventDescription"
                                         style="background-color: transparent;box-shadow: none;">{{.EventDescription}}</article>
                                <label class="active">Event Description</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="EventDate"
                                         style="background-color: transparent;box-shadow: none;">{{.EventDate}}</article>

                                <label class="active">Date</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="RoomNumber"
                                         style="background-color: transparent;box-shadow: none;">{{.RoomNumber}}</article>
                                <label class="active">Room Number</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="AdvisorNames"
                                         style="background-color: transparent;box-shadow: none;">{{.AdvisorNames}}</article>
                                <label class="active">Advisor Name(s)</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="Location"
                                         style="background-color: transparent;box-shadow: none;">{{.Location}}</article>
                                <label class="active">Location</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="LocationDescription"
                                         style="background-color: transparent;box-shadow: none;">{{.LocationDescription}}</article>

                                <label class="active">Location Description</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="Sport"
                                         style="background-color: transparent;box-shadow: none;">{{.Sport}}</article>
                                <label class="active">Sport Name</label>
                            </div>
                        </div>
                        <div class="s12 l4">
                            <div class="field label border">
                                <article id="SportDescription" name="SportDescription"
                                         style="background-color: transparent;box-shadow: none;">{{.SportDescription}}</article>
                                <label class="active">Sport Description</label>
                            </div>
                        </div>
                    </div>

                    <div class="space"></div>
                    <nav class="left-align">
                        <button type="remove" class="blur">Sign Up</button>
                    </nav>
                </article>
            </div>
        </div>
    {{end}}
</main>
</body>
</html>