<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  <title>ParX Login</title>
</head>
<body>
<!--TODO: LAYOUTS-->
<nav class="container-fluid" style="background: #141e26;">
  <ul>
    <img src="https://pluspng.com/img-png/logo-template-png-logo-templates-1655.png" alt="icon"
         style="height: 40%; width: 5%">
  </ul>
  <ul>
    <a href="/teacher_prizes">
      <li>Prizes</li>
    </a>

    <a href="./winners">
      <li>Winners</li>
    </a>

    <a href="./teacher_events">
      <li>Events</li>
    </a>

    <a href="./teacher_create_event">
      <li>Create Event</li>
    </a>

    <li>Quarter Report</li>
    <a href="./logout">
      <li>Logout</li>
    </a>
  </ul>
</nav>

<main class="container">
  <form method="POST" action="./TBD">
    <article id="event">
      <h1>Event Name</h1>
      <h6>Click Anywhere to Edit this Event</h6>
      <div class="grid">
        <ul>
          <div>
            <label>
              <li>Points</li>
              <input type="number" id="Points" max="9999999" name="Points"
                     required="required">
            </label>
          </div>

          <div>
            <label>
              <li>Event Description</li>
              <input type="text" id="EventDescription" name="EventDescription"
                     required="required">
            </label>
          </div>

          <div>
            <label>
              <li>Date</li>
              <input
                      type="date"
                      name="EventDate"

                      id="EventDate"
                      required="required"/>
              </li>
            </label>
          </div>

          <div>
            <label>
              <li>Room #</li>
              <input type="number" id="RoomNumber" max="9999999" name="RoomNumber">
            </label>
          </div>

          <div>
            <label>
              <li>Advisor(s) Name</li>
              <input type="text" id="AdvisorNames" name="AdvisorNames"
                     required="required">
            </label>
          </div>
          <!--If you're a psycho, add google maps integration-->
          <div>
            <label>
              <li>Location</li>
              <input type="text" id="Location" name="Location"
                     required="required">
            </label>
          </div>

          <div>
            <label>
              <li>Location Description</li>
              <input type="text" id="LocationDescription" name="LocationDescription">
            </label>
          </div>

          <div>
            <label>
              <li>Sport</li>
              <input type="text" id="Sport" name="Sport">
            </label>
          </div>

          <div>
            <label>
              <li>Sport Description</li>
              <input type="text" id="SportDescription" name="SportDescription">
            </label>
          </div>
        </ul>

        <!-- TODO: UNFINISHED FROM HERE BELOW -->

        <img id="EventImage" src="" alt="Event Image" style="height: 50%; width: 100%">
        <label>
          <input id="file-upload" name="EventImage" type="file" accept="image/png, image/jpeg" onchange='
            const previewImage = document.getElementById("EventImage")

            const file = this.files[0]
            if (file){
              const reader = new FileReader()
              reader.addEventListener("load", function(){
                previewImage.setAttribute("src", this.result)
              })

              reader.readAsDataURL(file)
            }'>
        </label>
      </div>
      <ol>
        <button class="secondary" type="submit">Save</button>
      </ol>
    </article>
  </form>
</main>
</body>
</html>
