<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <title>Hello world</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.1.1/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.1.1/dist/cdn/beer.min.js"></script>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.7/dist/cdn/material-dynamic-colors.min.js"></script>
</head>
<body class="light">
<nav class="left m l">
    <img src="../static/parxfull.png" class="circle margin">
    <a href="./teacherEvents">
        <i>event</i>
        <div>Events</div>
    </a>
    <a href="./teacherCreateEvent">
        <i>create</i>
        <div>Make Event</div>
    </a>
    <a href="./winners">
        <i>done</i>
        <div>Winners</div>
    </a>
    <a href="./prizes">
        <i>star</i>
        <div>Prizes</div>
    </a>
    <a href="./createPrize">
        <i>create</i>
        <div>Make Prize</div>
    </a>
    <a href="./quarterReport">
        <i>description</i>
        <div>Generate Quarter Report</div>
    </a>
    <a href="./logout">
        <i>logout</i>
        <div>Logout</div>
    </a>
</nav>

<nav class="bottom s">
    <img src="../static/parxfull.png" class="circle margin">
    <a href="./teacherEvents">
        <i>event</i>
        <div>Events</div>
    </a>
    <a href="./teacherCreateEvent">
        <i>create</i>
        <div>Make Event</div>
    </a>
    <a href="./winners">
        <i>done</i>
        <div>Winners</div>
    </a>
    <a href="./prizes">
        <i>star</i>
        <div>Prizes</div>
    </a>
    <a href="./createPrize">
        <i>create</i>
        <div>Make Prize</div>
    </a>
    <a href="./quarterReport">
        <i>description</i>
        <div>Generate Quarter Report</div>
    </a>
    <a href="./logout">
        <i>logout</i>
        <div>Logout</div>
    </a>
</nav>
<main class="responsive">
    <div id="teacherEvent" name="teacherEvent">
        <form method="post" action="/createPrizes" class="large-padding responsive" id="EventImage">
            <header class="blur">
                <nav>
                    <h5 class="max">Create a Prize Here!</h5>
                </nav>
            </header>
            <article class="large-blur">
                <div class="field label border">
                    <input type="text" id="PrizeName" value="" name="PrizeName" required="required"
                           style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                    <label class="active">PrizeName</label>
                </div>
                <div class="grid">
                    <div class="s12 l4">
                        <div class="field label border">
                            <input type="number" id="Points" max="9999999" value="" name="Points" required="required"
                                   style="clip-path: polygon(0% 0%, 0.75rem 0%, 0.75rem 0.5rem, 3.0625rem 0.5rem, 3.0625rem 0%, 100% 0%, 100% 100%, 0% 100%);">
                            <label class="active">Points</label>
                        </div>
                    </div>
                </div>
            </article>
            <div class="grid">
                <nav class="left-align">
                    <button type="reset" class="blur">Remove</button>
                    <button type="submit" class="blur">Save</button>
                </nav>
            </div>
        </form>
    </div>
</main>
</body>
</html>